<li>
	<h5>{{name}}

	<button class="change-sleep btn-success rounded-pill" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}EAT ME!{{else}}TIME FOR 2NDS!{{/if}}
	</button>

	<button class="delete-cat btn-danger rounded-pill" data-id="{{this.id}}">NO MORE!</button>
	</h5>
</li>
